/* button */

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #3e7327;
	-webkit-box-shadow:inset 0px 1px 0px 0px #3e7327;
	box-shadow:inset 0px 1px 0px 0px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #275c0d), color-stop(1, #397519));
	background:-moz-linear-gradient(top, #275c0d 5%, #397519 100%);
	background:-webkit-linear-gradient(top, #275c0d 5%, #397519 100%);
	background:-o-linear-gradient(top, #275c0d 5%, #397519 100%);
	background:-ms-linear-gradient(top, #275c0d 5%, #397519 100%);
	background:linear-gradient(to bottom, #275c0d 5%, #397519 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#275c0d', endColorstr='#397519',GradientType=0);
	background-color:#275c0d;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #397519), color-stop(1, #275c0d));
	background:-moz-linear-gradient(top, #397519 5%, #275c0d 100%);
	background:-webkit-linear-gradient(top, #397519 5%, #275c0d 100%);
	background:-o-linear-gradient(top, #397519 5%, #275c0d 100%);
	background:-ms-linear-gradient(top, #397519 5%, #275c0d 100%);
	background:linear-gradient(to bottom, #397519 5%, #275c0d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#397519', endColorstr='#275c0d',GradientType=0);
	background-color:#397519;
}
.myButton:active {
	position:relative;
	top:1px;
}